@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/***** global vars *****/
*, *:before, *:after {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

/*** end global vars ***/
/***** global styles *****/
* {
  font-size: 10pt;
  font-weight: normal; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select[multiple=multiple], textarea {
  outline: none;
  border-radius: 0;
  border: 1px solid #999999;
  box-shadow: inset 10px 10px 12px -12px rgba(0, 0, 0, 0.45); }

input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover, select[multiple=multiple]:hover, textarea:hover {
  border: 1px solid #666666;
  box-shadow: inset 10px 10px 12px -12px rgba(0, 0, 0, 0.45); }

input[type="color"]:active, input[type="date"]:active, input[type="datetime"]:active, input[type="datetime-local"]:active, input[type="email"]:active, input[type="month"]:active, input[type="number"]:active, input[type="password"]:active, input[type="search"]:active, input[type="tel"]:active, input[type="text"]:active, input[type="time"]:active, input[type="url"]:active, input[type="week"]:active, textarea:active, select[multiple=multiple]:active, textarea:active {
  border: 1px solid #999999;
  box-shadow: inset 10px 10px 12px -12px rgba(0, 0, 0, 0.45); }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select[multiple=multiple]:focus, textarea:focus {
  border: 1px solid #323232;
  box-shadow: inset 10px 10px 12px -12px rgba(0, 0, 0, 0.45); }

button, input[type="button"], input[type="reset"], input[type="submit"], button {
  border: 1px solid #bdaf7c;
  border-radius: 2px;
  color: #b3a269;
  margin: 0;
  width: 100%;
  transition: all .2s; }

button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active, button:active {
  box-shadow: inset 7px 7px 10px -6px rgba(179, 162, 105, 0.43);
  background-color: rgba(179, 162, 105, 0.09); }

.cnvr-reverse-color, .cnvr-reverse-color:hover, .cnvr-reverse-color:active, .cnvr-reverse-color:focus,
.cnvr-modal-close, .cnvr-modal-close:hover, .cnvr-modal-close:active, .cnvr-modal-close:focus {
  color: white;
  background-color: #b3a269; }

.cnvr-reverse-color:active,
.cnvr-modal-close, .cnvr-modal-close:hover, .cnvr-modal-close:active, .cnvr-modal-close:focus {
  box-shadow: inset 10px 10px 10px -6px #988A60;
  border: 1px solid #807552; }

.fieldset-content {
  margin-left: 15px; }

hr {
  margin: 0 auto;
  display: block;
  border-bottom: 1px solid #A0A0A0; }

.ng-invalid,
.ng-invalid.ng-invalid-number,
.ng-invalid.ng-invalid-number,
.ng-invalid.ng-invalid-max,
.ng-invalid.ng-invalid-max,
.ng-invalid.ng-invalid-min,
.ng-invalid.ng-invalid-min {
  border: 1px solid red !important;
  background-color: #F9E3E4; }

/*inputs*/
.large-input {
  max-width: 300px; }

.medium-input {
  max-width: 150px; }

.small-input {
  max-width: 60px; }

.conv-gold-icon {
  color: #b3a269; }

/***** dev *****/
body {
  padding: 25px;
  background-color: #cccccc; }

.appName {
  font-size: 15pt;
  color: black; }

.innerContainer, .innerContainerDropdown {
  background-color: white;
  width: 270px;
  height: 665px;
  padding: 15px 10px;
  overflow-x: hidden;
  resize: horizontal;
  display: inline-block;
  margin-left: 15px; }

/*** end dev ***/
* {
  font: 10pt "Open Sans", "helvetica", "arial", sans-serif;
  color: #000000; }

.conv-dropdown-header-wrapper {
  /*container for dropdown item's checkbox*/
  /*the list elements are the containers of the items in the dropdown
   *the pseudo selectors are to control border on the first and last elements
   *which require slightly different padding and borders to make them
   *look consistent with the inner li elements */
  /*main container for dropdown content*/
  /*in order to animate changes to the dropdown's visibility, opacity is used instead of display or visibility
   *an ng-class directive is used to control this opacity*/
  /*the downward chevron on the right of the chevron receives animation instructions so it may rotate 180º when clicked*/
  /*checkmark for the selected option*/
  /*styles for the "button". it is actually a <span>.
   *it is a span because spans are my favorite elements.
   *gentle and unassuming, when their display is changed to
   *inline block, they can perform acts of great strength.
   *they are the hobbits of the document object*/
  /*the container for the inner text of the hobbit that holds the selected option*/
  /*the border and cursor styles are removed from the button if only one item exists in the menu array*/ }
  .conv-dropdown-header-wrapper .conv-dropdown-item,
  .conv-dropdown-header-wrapper .conv-icon,
  .conv-dropdown-header-wrapper .conv-dropdown-menu-button {
    cursor: pointer; }
  .conv-dropdown-header-wrapper .conv-dropdown-item span {
    min-width: 20px;
    display: inline-block; }
  .conv-dropdown-header-wrapper ul {
    margin: 0; }
  .conv-dropdown-header-wrapper li {
    list-style-type: none;
    font: 10pt "Open Sans", "helvetica", "arial", sans-serif;
    padding: 12pt 10px 10pt 10px;
    margin: 0;
    display: block; }
  .conv-dropdown-header-wrapper li:not(:last-child) {
    border-bottom: 1px solid #DDDDDD; }
  .conv-dropdown-header-wrapper li:first-child {
    padding-top: 18px;
    border-top: 1px solid transparent; }
  .conv-dropdown-header-wrapper li:last-child {
    padding-bottom: 18px;
    border-bottom: 1px solid transparent; }
  .conv-dropdown-header-wrapper li:hover {
    background-color: #e4e4e4;
    cursor: pointer; }
  .conv-dropdown-header-wrapper li:not(:last-child):hover {
    border-bottom: 1px solid #b1b1b1; }
  .conv-dropdown-header-wrapper .conv-dropdown-container {
    transition: all 0.15s linear;
    opacity: 0;
    background-color: #F9F9F9;
    border: 1px solid #c2c2c2;
    box-shadow: 4px 4px 9px -2px rgba(0, 0, 0, 0.39);
    position: relative;
    left: -11px;
    width: 272px;
    margin-top: -2px;
    z-index: -100; }
  .conv-dropdown-header-wrapper .conv-dropdown-visible {
    opacity: 1; }
  .conv-dropdown-header-wrapper .fa-chevron-down {
    float: right;
    transition-duration: 0.2s; }
  .conv-dropdown-header-wrapper .chevron-rotate {
    transform: rotate(0.5turn); }
  .conv-dropdown-header-wrapper .fa-check {
    color: #19a41c; }
  .conv-dropdown-header-wrapper .conv-dropdown-menu-button {
    padding: 4px 14px 4px 7px;
    border: 1px solid rgba(179, 162, 105, 0.8);
    border-radius: 3px;
    background-color: rgba(179, 162, 105, 0.06);
    width: 100%;
    display: inline-block;
    top: 3px;
    position: relative;
    margin-bottom: 15px; }
  .conv-dropdown-header-wrapper .conv-selected-item-inner-wrapper {
    width: 90%;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap; }
  .conv-dropdown-header-wrapper .conv-dropdown-visible {
    z-index: 1000 !important; }
  .conv-dropdown-header-wrapper .conv-dropdown-menu-button-single-item {
    border: 1px solid transparent !important;
    cursor: initial !important; }
  .conv-dropdown-header-wrapper hr {
    margin-bottom: 0; }
